<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RoleLens{% endblock %}</title>  
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header class="header">
    <div class="container navbar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                 class="logo">
            <span class="app-name">
                RoleLens
            </span>
        </div>
        <nav>
            <a href="{{ url_for('dashboard.dashboard') }}" style="color: yellowgreen;">
                Upload Resume
            </a>
        </nav>
    </div>
</header>
<main>
{% with messages=get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category,message in messages %}
<div class="flash {{category}}">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</main>
<footer class="footer">
    <div class="container">
        © 2026 RoleLens | Resume Analyzer
    </div>
</footer>
</body>
</html>